<%- include('./partials/header.ejs')%>
    <main>
        <div class="home-content">
            <h2></h2>
            <p>In 2022, we had an amazing opportunity to open a small vinyl shop for all the Charlotte 
                Vinyl Lovers out there. Thanks to the support of our community
                we were able to open our doors on November 26th, 2022. Since then,
                we just knew that this store was our purpose. We have over hundreds
                of new/used vinyls in over tens of various categories.
            </p>
        
        </div>
        <div class="home-img">
            <img src="images/vinylmain.jpeg" alt="vinyls" width="500"
            height="750">
        </div>  
    </main>
    <%- include('./partials/footer.ejs')%>