<%- include('./partials/header.ejs')%>

    <main>
        <div class="home-content">
            <h2></h2>
            <h2>You can contact us Monday-Saturday 8am - 10pm</h2>
            
           <p><a href="mailto:vinyl@gmail.com">Our email is vinyl@gmail.com ||</p></a>
           <p><a href="tel:012-345-678">||Our phone is 012-345-678</a></p>

        </div>
        <div class="home-img">
            <img src="images/vinylmain.jpeg" alt="vinyls" width="500"
            height="750">
        </div>  
    </main>
    <%- include('./partials/footer.ejs')%>