<%- include('./partials/header.ejs')%>
    <main>
        <div class="home-content">
            <h2>Welcome Vinyl Lovers!</h2>
            <p>This is the place where you can exchange your loved vinyls.
                We offer a variety of different genres. So go ahead and start exploring.
            </p>
        </div>
        <div class="home-img">
            <img src="images/vinylmain.jpeg" alt="vinyls" width="500"
            height="750">
        </div>  
    </main>
    <%- include('./partials/footer.ejs')%>

  