<footer>
    <p class="small centered-text"><i class="fa-solid fa-compact-disc"></i> Vinyl House Exchange.
    </p>
    <div class="links">
        
            <a class="contact"href="/contact">Contact</a>
             <a class="about" href="/about">About</a>
   
    
    </div>
</footer>
</body>
</html>